:root{
    --borderRad: 25px;
    --levelPad: 25px;
    --oneLevelColor: bisque;
    --twoLevelColor: burlywood;
    --oneLevelBlackColor: #444;
    --twoLevelBlackColor: #555;
}

*{
    font-family:monospace;
    transition: 0.1s;
}

body{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

header{
    background-color: var(--oneLevelColor);
    border-radius: var(--borderRad);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--levelPad);
    margin: 25px;
}

body.dark-theme header {
    background-color: var(--oneLevelBlackColor);
    color: white;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

header nav a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

body.black-theme header nav a{
    color: white;
}

.invisible-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

#theme{
    width: 50px;
    height: 50px;
    content: url("./White_Theme.png");
}

body.dark-theme #theme{
    width: 50px;
    height: 50px;
    content: url("./Dark_Theme.png");
}

.one-level{
    background-color: var(--oneLevelColor);
    border-radius: var(--borderRad);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--levelPad);
    margin: 25px;
}

body.dark-theme .one-level {
    background-color: var(--oneLevelBlackColor);
}

.card{
    margin: 25px;
    width: 90%;
    background-color: var(--twoLevelColor);
    display: flex;
    align-items: center;
    border-radius: var(--borderRad);
    padding: var(--levelPad);
}

body.dark-theme .card {
    background-color: var(--twoLevelBlackColor);
}

.card img{
    border-radius: var(--borderRad);
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.card div{
    width: 400px;
    height: 100%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#profile{
    flex-direction: column;
}

#profile-image{
    border-radius: 250px;
    width: 250px;
    height: 250px;
    content: url("https://th.bing.com/th/id/OIP.CpgL4Xscnv-1kKONYPpaHQHaEK?rs=1&pid=ImgDetMain");
    object-fit: cover;
}

#other{
    flex-direction: column;
    width: 60%;
}

#links{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#links a{
    background-color: var(--twoLevelColor);
    border-radius: var(--borderRad);
    margin: 10px;
    padding: 10px;
}

body.dark-theme #links a {
    background-color: var(--twoLevelBlackColor);
}

#links img{
    width: 100px;
    height: 100px;
    border-radius: var(--borderRad);
    object-fit: contain;
}
